page-login {

  ion-content {
    background: url("../../assets/imgs/login.jpg") no-repeat center;
    background-size: cover;
  }

  .logo {
    padding-top: 10%;
    padding-bottom: 10%;
    display: flex;
    align-items: center;
    justify-items: center;
  }

  .logo img {
    width: 100px;
    height: 100px;
    margin: 0 auto;
  }

  ion-list {
    opacity: 0.8;
  }

  button{
    border: 2px solid #7c7c7c ;
    border-radius: 5px;
  }
  .pw-forgot,
  .register-quick {
    color: #7c7c7c;
    font-size: 14px;
  }
  .btn-login {
    text-align: center;
    color: white;
    // height: 40px;
    font-size: 18px;
  }
  .wb-wx-btn-login{
    text-align: center;
    color: #7c7c7c;
  }
}
