page-emailverify {
  button{
    border: 2px solid #7c7c7c ;
  }
  .pw-forgot,
  .register-quick {
    color: #7c7c7c;
    font-size: 14px;
  }
  .btn-register {
    text-align: center;
    color: white;
    // height: 40px;
    font-size: 18px;
    border-radius: 5px;
  }

  .code {
    margin-bottom: unset;
    width: 100%;
    display: flex !important;
    justify-items: center !important;
    align-items: center !important;
  }

  .code button {
    flex: 3 1 auto !important;
  }

  .code span{
    flex: 1 0 auto !important;
    padding-right: 10px;
  }
}
