page-myessay {

  .content {
    padding-bottom: unset !important;
  }

  .scroll-content {
    padding-bottom: unset !important;
  }

  .newsImg {
    height: 70px !important;
    border-radius: 5px !important;
    width: 70px !important;
  }

  .newsSubTitle {
    white-space: normal !important;
    font-size: 14px !important;
  }

  .newsIcon {
    font-size: 14px;
    color: #888888;
  }

  .btnStyle {
    color: #222222;
  }

}
