page-means {

  ion-content {
    background-color: #fafafa !important;
  }

  .meansTitle {
    padding-left: 10px;
    padding-right: 10px;
    padding-top: 10px;
    margin-bottom: 10px;
    background: white;
  }

}
