page-editinfo {

  ion-content {
    background-color: #f3f3f4 !important;
  }

  .prompt {
    font-size: 14px;
    color: #888888;
    margin-left: 10px;
  }

  .hiddenOverFlow {
    max-width: 70% !important;
    overflow:hidden;
    text-overflow:ellipsis;
    white-space:nowrap
  }

}
